[Unit]
Description=picam2ctrl MQTT client
Documentation=https://github.com/irimitenkan/picam2ctrl#readme
After=network.target
[Service]
WorkingDirectory=%h/picam2ctrl
ExecStart=python3 -u picam2ctrl.py
Restart=always
[Install]
WantedBy=default.target